In [2]:
import numpy as np
import pandas as pd
import sklearn as sk

In [3]:
income = np.array([70000, 60000, 52000])
age = np.array([45, 44, 40])
toConvert = np.concatenate((income.reshape(-1, 1), age.reshape(-1, 1)), axis=1)
pd.DataFrame(toConvert, columns = ["Income", "Age"])

   Income  Age
0   70000   45
1   60000   44
2   52000   40